@model TimeReportViewModel


<h2>@Model.EmployeeName</h2>

@foreach (var item in Model.DailyReports)
    {
        @Html.Partial("~/Views/Report/_DailyTimeReport.cshtml", item)
    }
<span>Total: @Model.TimeWorked</span>
