@model ReportIndex

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{
    @{ var ReportRequestViewMode = new ReportRequest();}
    @Html.ListBoxFor(m => m.EmployeeIds, Model.Employees);
    
    @Html.EditorForModel(ReportRequest);
    
    <input type="submit" value="Submit"/>
}
