@model ReportIndex

@{
    ViewBag.Title = "Index";
}

<h2>Time </h2>

@using (Html.BeginForm("TimeReport", "Report"))
{
    @Html.Partial("_ReportRequest", new ReportRequest(){EmployeSelectListItems = Model.EmployeSelectListItems}, ViewData)
    <input type="submit" value="Submit"/>
}
