

<div class="row">
    <div class="col-md-10 col-md-push-1">
    <div class="panel-default">
        <div class="panel-heading">
            <span>Employee List</span>
        </div>
        <div class="table-responsive">
            <table ng-table="tableParams" id="employee-table" class="table employee-table">

                <tr ng-repeat="employee in $data">
                    <td data-title="'FullName'" filter="{ fullName: 'text'}" sortable="'fullName'">
                        {{employee.fullName}}
                    </td>
                    <td data-title="'Status'" sortable="status">
                        <div ng-show="employee.currentStatus == 0" class="punch-status  punched-in"></div>
                        <div ng-hide="employee.currentStatus == 0" class="punch-status  punched-out"></div>
                    </td>
                    <td data-title="'Time'">
                        {{formatTime(employee.lastPunchTime)}}
                    </td>
                    <td>
                        <button class="btn btn-clock" ng-click="changeClockStatus(employee)">
                            <span class="glyphicon glyphicon-dashboard"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>