

<div class="row">
    <div class="col-md-10 col-md-push-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Employee List</span>
        </div>
        <div class="table-responsive">
            <table ng-table-dynamic="tableParams with cols" id="employee-table" class="table table-striped table-responsive">
                <tr ng-repeat="employee in $data">
                    <td ng-repeat="col in $columns">{{employee[col.field]}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>