<div class="row">
    <h2>Admin Panel</h2>
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <span>User Management</span>
            </div>
            <div class="panel-body">
                <ul class="admin-panel-option-group user-management-option-group">
                    <li class="admin-panel-option employee-manager-option">
                        <a href="#/admin/userManager">
                            <div class="option-wrapper">
                                <i class="fa fa-user"> </i>
                                <div class="option-title">
                                    <span>Employee Manager</span>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="admin-panel-option report-option">
                        <a href="#/admin/reports">
                            <div class="option-wrapper">
                                <i class="fa fa-file"> </i>
                                <div class="option-title">
                                    <span>Reports</span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<style>



</style>