@{
    ViewBag.Title = "dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<<h1 class="page-header">Dashboard</h1>
<div class="row">
    <div class="col-sm-4 col-lg-2">
        <div class="employee-status-block status-in">
            <span>2</span>
            <span>Clocked In</span>
        </div>
    </div>
    <div class="col-sm-4 col-lg-2">
        <div class="employee-status-block status-out">
            <span>2</span>
            <span>Clocked Out</span>
        </div>
    </div>
</div>
<h2 class="sub-header">Section title</h2>
<div class="table-responsive">
  @Html.Action("List", "Employees");
</div>