body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/********** Header  *********/
.navbar-toggle {
    float: left;
}
.navbar-brand {
    float: right;
}
/********** General  *********/

body {
    background: #e9eaed;
}
button {
    background: #000;
    color: #fff;
    border-color: #444;
    border-radius: 4px;
    padding: 5px;
}
button:hover {
      background: #2F2F2F;
}
button a{
    color: #fff;
}
button a:hover {
    color: #fff;
    text-decoration: none;
}

.btn-default {
    background: #000;
}
.btn-clock {
    width: 90px;
}
/********* Nav bar **********/
.sidebar {
    background-color: #444444!important;
}
.sidebar a {
    color: #fff;
}

@media (min-width: 768px) {
    .sidebar { top: 50px; }
}
/********* Employee Index **********/
.punch-status {
    width: 15px;
    height: 15px;
    margin-left: 15px;
        -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}

.punched-in {
    background: #85bf2e;
}

.punched-out {
    background: red;
}
