

<div class="row">
    <div class="col-md-10 col-md-push-1">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>Employee List</span>
        </div>
        <div class="table-responsive">
            <table ng-table="tableParams" id="employee-table" class="table table-striped table-responsive">

                <tr ng-repeat="employee in $data">
                    <td data-title="'FullName'" filter="{ fullName: 'text'}" sortable="'fullName'">
                        {{employee.fullName}}
                    </td>
                    <td data-title="'Status'" sortable="'currentStatus'">
                        <div ng-show="employee.currentStatus == 0" class="punch-status  punched-in"></div>
                        <div ng-hide="employee.currentStatus == 0" class="punch-status  punched-out"></div>
                    </td>
                    <td data-title="'Time'">
                        <span am-time-ago="employee.lastPunchTime "></span>
                    </td>
                    <td data-title="'Actions'">
                        <button class="btn btn-clock" ng-click="changeClockStatus(employee)">
                            <span class="glyphicon glyphicon-dashboard"></span>
                        </button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
</div>