

<div class="row">
    <div class="col-md-5">
        <div class="time-editor-panel panel panel-default">
            <div class="panel-heading">
                <span>Time Editor</span>
            </div>
            <div class="panel-body">
                <form name="addUserForm" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Time</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <input type="text" ng-enabled="loaded" ng-model="time" class="form-control" required/>
                                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Date
                                    </button>
                                    <div class="dropdown-menu">
                                        <time-picker date="date"></time-picker>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button ng-disabled="addUserForm.$invalid" ng-click="save()" class="btn btn-default">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
$(document).on('click', '.time-editor-panel .dropdown-menu', function (e) {
  e.stopPropagation();
});
</script>