@using TimeClock.Data.Models
@{
    ViewBag.Title = "TimeClock Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-title">
                <span>Employee Overview</span>
            </div>
            <div class="col-sm-4 col-lg-2">
                @Html.Action("StatusBlock", "Employees", new {status = TimePunchStatus.PunchedIn})
            </div>
            <div class="col-sm-4 col-lg-2">
                @Html.Action("StatusBlock", "Employees", new {status = TimePunchStatus.PunchedOut})
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="table-responsive">
    @Html.Action("List", "Employees")
</div>